<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #382673;
            color: white;
            font-family: Helvetica, HelveticaNeue, Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Sei stato disconnesso dal tuo account.</h1>
<script>

    setTimeout(function() {
        window.location.href = "/";
    }, 5000);
</script>
</body>
</html>