<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anagrafa Utente</title>
    <link rel="stylesheet" href="StyleUtente.css">
</head>
<body>
<header>
    <span class="azienda">NomeAzienda</span>
    <div class="buttons">
        <button class="btn">logout</button>
        <button class="btn">home</button>
    </div>
</header>

<main>
    <div class="container">
        <h2>Anagrafa Utente</h2>
        <form>
            <input type="text" placeholder="nome">
            <input type="text" placeholder="cognome">
            <input type="email" placeholder="email">
            <div class="buttons-container">
                <button type="submit" class="btn big">anagrafa</button>
                <button type="reset" class="btn big">reset</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>